<div class="container-fluid">
<div class="row">

  <div class="col-xl-3 col-sm-5 mb-xl-0 mb-4 itm">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
          <img src="assets/img/rain35.png" style="margin-top: 22%">
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Raining Data</p>
          <h4 class="mb-0">{{(dataHandler.countData$ | async)?.rainingDayCount}}</h4>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-3">
        <p class="mb-0"><span class="text-success text-sm font-weight-bolder"></span>...</p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-5 mb-xl-0 mb-4 itm">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
          <img src="assets/img/sun35.png" style="margin-top: 20%">
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Not Raining Data</p>
          <h4 class="mb-0">{{(dataHandler.countData$ | async)?.notRainingDayCount}}</h4>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-3">
        <p class="mb-0"><span class="text-success text-sm font-weight-bolder"></span>...</p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-5 mb-xl-0 mb-4 itm">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
          <img src="assets/img/count35.png" style="margin-top: 20%">
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 text-capitalize">Data Count</p>
          <h4 class="mb-0">{{(dataHandler.countData$ | async)?.valueCount}}</h4>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-3">
        <p class="mb-0"><span class="text-success text-sm font-weight-bolder"></span>...</p>
      </div>
    </div>
  </div>

</div>
</div>


