<section>
  <div class="page-header min-vh-100">
    <div class="container">
      <div class="row">
        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
          <div  class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center img-fluid" style="background-image: url('assets/img/illustrations/illustration-signup.jpg'); background-size: cover;">
          </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
          <div class="card card-plain">
            <div class="card-header">
              <h4 class="font-weight-bolder">Data Generator</h4>
              <p class="mb-0" style="font-weight: bold">Enter the amount of iteration..<br></p><span style="font-size: 14px;">*It's recommended not to enter numbers greater than 1000*</span>
            </div>
            <div class="card-body">
              <form role="form">
                <div class="input-group input-group-outline mb-3">
                  <input placeholder="Enter a number" type="text" class="form-control" name="inputData" [(ngModel)]="inputData">
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0" (click)="generateData()">Generate</button>
                </div>
              </form>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
